/*-----------------------------*/
/* base
/*-----------------------------*/
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
    color: #666;
}




/*-----------------------------*/
/* base
/*-----------------------------*/




/*-----------------------------*/
/* base
/*-----------------------------*/




/*-----------------------------*/
/* base
/*-----------------------------*/





/*-----------------------------*/
/* base
/*-----------------------------*/





/*-----------------------------*/
/* base
/*-----------------------------*/